body {
  font-family: 'Roboto', Arial, Sans-Serif;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: #e37042;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.main-socket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centered-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

.centered-column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

.top-nav [slot=viewport] {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px;
  order: 2;
}

.top-nav [slot=previous-page] {
  order: 1;
}

.top-nav [slot=next-page] {
  order: 3;
}

.main-container [slot=previous-page],.main-container [slot=next-page] {
  width: 30px;
  height: 30px;
}

[disabled][slot=previous-page],[disabled][slot=next-page] {
  opacity: .4;
}
[slot=previous-page]:not([disabled]),[slot=next-page]:not([disabled]) {
  cursor: pointer;
}

.category-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 26px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.product-viewport {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding-bottom: 25px;
  width: 100%;
  height: 375px;
  box-sizing: border-box;
}

.product-viewer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-image {
  max-height: 300px;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 330px;
}

input[type=text],input[type=password],input[type=button],input[type=submit],input[type=number],textarea {
  padding: 10px;
  font-size: 18px;
}

.url-input {
  width: 100%;
  max-width: 500px;
}

.url-input input {
  width: 100%;
  box-sizing: border-box;
}

.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #cccccc;
  font-size: 70px;
  height: 375px;
  box-sizing: border-box;
}
